<ion-view view-title="PROMO BUY 1 GET 1">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right calm-bg" type="item-text-wrap">
        <img ng-src="img/S.jpg">
        <h2>Toko Belinda</h2>
        <p>START : 12 Desember 2016</p>
        <p>ENDS &nbsp;: 12 Desember 2016</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right calm-bg" type="item-text-wrap">
        <img ng-src="img/S.jpg">
        <h2>Toko Aminyak</h2>
        <p>START : 12 Desember 2016</p>
        <p>ENDS &nbsp;: 12 Desember 2016</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

